name: pr-checks

on:
  pull_request:
    types: [ edited, opened, synchronize, reopened ]
    paths-ignore:
      # Do not run the pipeline if only Markdown files changed
      - '**.yaml'
      - '**.md'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Test race
      run: go test -v -race ./...
      
    - name: Test units
      run: go test -v ./... -covermode=count -coverprofile=coverage.out

    - name: Convert coverage to lcov
      uses: jandelgado/gcov2lcov-action@v1
      
    - name: Coveralls
      uses: coverallsapp/github-action@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage.lcov

    - name: Build
      run: go build -v ./...

    - name: golangci-lint
      continue-on-error: true
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        args: --timeout 10m --build-tags=static
        only-new-issues: true


